<h3>Books of 2018</h3>
<p>
  Currently reading:<br />
  <strong>{{site.data.theme.book_current.name}}</strong> by {{site.data.theme.book_current.author}}
</p>
<h4>
  Previous Books:
</h4>
<ul>
  {% assign counter = 0 %}
  {% for book in site.data.theme.book_names %}
    <li>
      {% for urls in site.data.theme.book_urls %}
        {% if forloop.index0 == counter %}
          <a href="{{ urls[counter] }}" rel="book">
            {% if book[counter] == site.data.theme.book_current.name %}*{% endif %}
              {{book[counter]}}
          </a>
        {% endif %}
      {% endfor %}
    </li>
    {% assign counter = counter | plus:1 %}
  {% endfor %}

</span>
