h1, h2, h3, h4, h5, h6{
  color: {{ site.data.theme.highlight_color }};
}
h3 {
  font-size:18px;
}

h4 {
  font-size: 16px;
  text-decoration: underline;
  line-height:1.2;
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
  nav {
    width:auto;
  }
}

nav>div p, nav>div a {
  text-align: right;
}

.container {
  height: 100%;
}

.name {
  font-size: 28px;
  text-align: right;
}

/* .sidebar {
  border-right: 1px solid #DDD;
  padding-right: 40px;
}

.content {
  border-left: none;
} */

#tags {
  margin-top:0;
  border-top:none;
  margin-bottom: 0;
  padding-top:0;
  text-align: right;
}
#books {
  border-top: dotted #ddd;
  border-width: 1px 0;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 13px;
  text-align: right;
  padding-top: 15px;
}

#books li {
  /* list-style: decimal-leading-zero; */
  list-style: none;
  text-align: right;
}

nav {
  text-align:center;
}

.not-finished {
  text-decoration: line-through;
}

.column-header {
  text-align: right;
  background: #bf360cde;
  color: #fff;
  border-radius:2px;
}
.column-header p {
  padding:5px;
  text-align: right;
}

.underline {
  text-decoration: underline;
}

#social {
  text-align: center;
}
